.App {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
:root{
  --hover-color:rgb(216, 148, 45);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'Mukta', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
}
a{
  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.flex{
  display: flex;
  /* align-items: center;
  justify-content: center; */
}
nav{
  display: flex;
  flex-direction: column;
  background-color: #000;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 20vw;
  border-right: 10px solid white;
}
nav li{
  margin: 50px;
  text-align: center;
}
.container{
  height: 100vh;
  width: 80vw;
  display: flex;
  align-items: center;
  padding: 50px;
}

#circle{
  width: 150px;
  background: url('../public/avatarg.jpg');
  background-position: center;
  background-size: cover;
  height: 150px;
  border: 4px solid white;
  border-radius: 100%;
}

#circle:hover{
  border-color: var(--hover-color);
  animation: rotate 0.3s backwards;
}
@keyframes rotate {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
.left-content{  
  font-size: 1.6rem;
  width: 50%;
  flex-direction: column;
  color: white;
}
/* .bg-image{
 
  height: 100vh;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.social-icons{
  margin-top: 20px;
  padding: 10px 20px;
  
}
.flex-col{
  flex-direction: column;
}
#home-container{
  background: url('../public/rocket3.gif');
  background-color: rgba(255, 255, 255, 0.1);
  background-size: cover;

}
.icon{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 20px;
}
.icon:hover{
  color: var(--hover-color);
  transform: scale(1.1);
}

.menu-item:hover{
  color: var(--hover-color);
}

#name{
  color: white;
  font-size: 2.2rem;
  margin-top: 20px;
}
p{
  color: white;
  font-size: 1.3rem;
  margin-top: -10px;
}

#time-date{
  color: white;
  text-align: center;
}

#main-head{
  animation: change-bg 2s linear infinite;
}
.bg-style{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 25px;
  border-radius: 20px;
}
#h-c-j{
  background: url('../public/html-css-js.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#react{
  background: url('../public/react.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#node{
  background: url('../public/node.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#cpp{
  background: url('../public/c++.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#python{
  background: url('../public/python.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#mysql{
  background: url('../public/mysql.png');
  background-size: contain;
  background-repeat: no-repeat;

}
.logo{
  margin: 20px;
  background-repeat: no-repeat;
  width: 30%;
}

#skills{  
  align-items: center;
  height: 50vh;
  flex-wrap: wrap;
}
.txt-center{
  text-align: center;
}

.heading{
  margin-bottom: 50px;
}

.txt-white{
  color: white;
}
.txt-black{
  color: black;
}

.inside-about-container{
  row-gap: 20px;
  width: 30%;
  margin: 10px;
}
#about-content{
  row-gap: 20px;
  border: 1px solid rgb(128, 83, 0);
}
#profile-img{
  background: url('../public/avatarg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 6px solid black;
 
}
#about-container{
  background: url("../public/fire-rocket.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  justify-content: space-between;
}
#skills p{
  text-align: center;
  width: 47%;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid rgb(128, 83, 0);
}
#skills p:hover{
  background-color: #000;
}

#contact{
  align-items: start;
  row-gap: 20px;
}
.bg-style:hover{
  background-color: #000;
}
.project-div{
  background-color: rgba(0, 0, 0,0.8);
  color: white;
  padding: 15px;
  margin: 20px;
  width: 55%;
  height: auto;
  font-size: 2rem;
  box-shadow: 5px 5px 5px black;
  align-self: self-start;
  border-radius: 10px;
  row-gap: 15px;
}

#projects-container{
  background: url("../public/astronaut.jpg");
  background-size: cover;

}

.awah{
  width: 50%;
  height: auto;
}

@media screen and (max-width: 600px) {
  nav{
      flex-direction: row;
      
  }
}