@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'Mukta', sans-serif; */
  font-family: 'Space Grotesk', sans-serif;
}

nav {
  display: flex;
  background-color: #000;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid white;
  column-gap: 10px;

}

nav li {
  text-align: center;
  /* display: none; */
}

a {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
a:hover{
  color: rgb(221, 182, 8);
  transform: scale(1.1);
}
#circle {
  width: 60px;
  background: url('../public/paras3.jpg');
  background-position: center;
  background-size: contain;
  height: 60px;
  align-self: center;
  border: 1px solid white;
  border-radius: 50%;
}

#circle:hover {
  border-color: var(--hover-color);
  animation: rotate 0.3s backwards;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#my-title {
  width: auto;
  font-size: 1.5rem;
  font-weight: 500;
}
.menu {
  position: absolute;
  background-color: black;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  height: inherit;
}

.show-menu {
  transform: translateX(0);
}
ul{
  display: flex;
  justify-content: center;
}
li{
  list-style-type: none;
}
.container {
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 20px;
}

#home-container {
  /* background-color: rgba(0, 0, 0, );
  background-size: cover;
  background-position: center; */
  row-gap: 30px;
  align-items: flex-start;
  justify-content: center;

}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  
}

.bg-style {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 25px;
  border-radius: 10px;
}

.social-icons {
  margin-top: 10px;
  padding: 10px 10px;
}

.icon {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 15px;
  border-radius: 10px;
  margin: -5px;
}

.icon:hover {
  color: var(--hover-color);
  transform: scale(1.1);
}

#main-head {
  font-size: 1.8rem;
  color: white;
}

#about-container {
  background: url("../public/fire-rocket.jpg");
  background-size: 180%;
  background-position: left;
  background-repeat: no-repeat;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.inside-about-container {
  width: 100%;
  margin: 10px;
}

#about-content {
  row-gap: 10px;
  border: 1px solid rgb(128, 83, 0);
}

.txt-white {
  color: white;
}

.txt-black {
  color: black;
}

#skills p {
  text-align: center;
  width: 40%;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid rgb(128, 83, 0);
}

#skills p:hover {
  background-color: #000;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

#skills {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#contact {
  align-items: start;
  row-gap: 20px;
}

.bg-style:hover {
  background-color: #000;
}

.project-div {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  height: auto;
  font-size: 1rem;
  box-shadow: 5px 5px 5px black;
  align-self: self-start;
  border-radius: 10px;
  row-gap: 15px;
}

.projects{
  background: url("../public/astronaut.jpg");
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;
  flex-direction: column;
  height: auto;
}
/* .projects p{
  width: ;
} */
.txt-center {
  text-align: center;
}


.btn {
  background-color: transparent;
  border: none;
  color: white;
}

#close-btn {
  position: relative;
  top: 10px;
  left: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: white;
  height: 18vh;
  font-size: 1.3rem;
  text-align: center;
}
.sub-footer-content{
  margin-top: 10px;
  font-size: 1.1rem;
  color: rgb(172, 172, 172);
}
/* .footer-content{
  padding: 20px 10px;
  background-color: black;
} */

@media screen and (min-width:780px){
  .mob-menu , #close-btn{
    display: none;
  }
  .project-div{
    width: 46%;

  }
  nav{
    justify-content: space-evenly;
  }
  .menu{
    all: unset;
  }
  #projects-container{
    background-size: cover;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .menu{
    position: relative;
    left: 0;
    width: auto;
  }
  ul{
    display: flex;
    column-gap: 30px;
  }

  #main-head{
    
    width: 500px;
  }
}

@media  screen and (min-width:1200px) {
 
  #home-container{
    font-size: 1.5rem;
    background-position: right;
  }
  #main-head{
    font-size: 2.9rem;  
    width: 700px;
  }
  .container{
    padding: 100px;
  }

  .inside-about-container{
    width: 70%;
  }

  
}
